*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#020617;
color:white;
font-family:
Inter,
Arial,
sans-serif;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
}

input{
outline:none;
border:none;
}

.page{
padding:30px;
}

@keyframes spin{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#334155;
border-radius:10px;
}